body{
	background-image: url("images/bg.jpg");
}
.sec{
	margin: 10%;
	margin-top: 5%;
	border: 10px solid white;
	background-color: white;
	box-sizing: border-box;
	
}

.sec1{
	background-color: #A8F0F0;
	display: block;
	
}
.sec1 h1, .sec1 h2{
	text-align: right;
}
.sec3{
	background-color: #A8F0F0;
	border: 4px solid blue;
	padding: 5px;
	margin: 10px;
	

}
.sub1{
	/*border: 4px solid orange;*/
}
.sec2{
	border: 4px solid #C2E9E9;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	display: block;
	overflow: auto;
	}


.left{
	width: 25%;
}

.right{
	width: 75%;
}
.sec4:after {
  content: "";
  display: table;
  clear: both;
}
.sec4{
	border: 10px solid white;
	background-color: white;
	width: 100%;
	display: flex;
	float: left;
	margin-left: -10px;
}
.sub2{
	border-bottom: 2px dashed blue;
}

img{
	display: block;
	float: right;
	
}
